.single_desc {
  background: #5287dd;
  padding: 30px;
  //height:250px;
  margin-bottom: 15px;
  .singe_desc_block {
    border: 1px solid  #52d36c;
    padding: 15px;
    .single_card{
      border: 1px solid;
      padding: 1rem;
    }
  }

}
.delete{
  margin-top: 20px;
  height: 44.4vh;
}